examples/*/*/.cargo
examples/*/*/.gitignore
examples/*/*/build
examples/*/*/target

packages/*/*/build
packages/*/*/mods/*/build

testcases/*/.cargo
testcases/*/.gitignore
testcases/*/build
testcases/*/target