{% if scope is undefined %}
    {% set scope = get_item(id = item.data.parent_id) %}
{% endif %}

{% set package = item_package(item_id = item_id) %}
<h2>{{ package.name }}</h2>
<small>{{ package.version }}</small>

<h3>In scope {{ item_path(data = scope.data) }}</h3>

<h3>Components</h3>
<ul>
    {% for component_id, component_item_id in scope.components %}
    <li>
        {% set component = get_item(id = component_item_id) %}
        <a
            href="TODO"
            {% if component_item_id == item_id %}
            class="highlight"
            {% endif %}
        >{{ component_id }}</a>
    </li>
    {% endfor %}
</ul>