{% if scope is undefined %}
    {% set scope_id = item.data.parent_id %}
    {% set scope = get_item(item_id=scope_id) %}
{% endif %}

<h3>
    In scope
    <a href="{{ item_url(from=page_url, item_id=scope_id)}}">
        <code>{{ item_path(data = scope.data) }}</code>
    </a>
</h3>

{{ macros::sidebar_render_items(title="Components", items=scope.components) }}
{{ macros::sidebar_render_items(title="Concepts", items=scope.concepts) }}