{% if scope is undefined %}
    {% set scope_id = item.data.parent_id %}
    {% set scope = get_item(item_id=scope_id) %}
{% endif %}

<h3>
    In scope {{ macros::item_link(item_id=scope_id) }}
</h3>

{{ macros::sidebar_render_items(title="Components", items=scope.components) }}
{{ macros::sidebar_render_items(title="Concepts", items=scope.concepts) }}