{% if scope.imports %}
<h4><a href="#imports">Imports</a></h4>
{% endif %}

{% if scope.scopes %}
<h4><a href="#scopes">Scopes</a></h4>
{% endif %}

{% if scope.components %}
<h4><a href="#components">Components</a></h4>
{% endif %}