{% if scope.imports %}
<li><a href="#imports">Imports</a></li>
{% endif %}

{% if scope.scopes %}
<li><a href="#scopes">Scopes</a></li>
{% endif %}

{% if scope.components %}
<li><a href="#components">Components</a></li>
{% endif %}

{% if scope.concepts %}
<li><a href="#concepts">Concepts</a></li>
{% endif %}