{% if scope.imports %}
<h3>Imports</h3>
<ul>
    {% for import_id, import_package_id in scope.imports %}
    <li>
        <a href="{{ item_url(from=page_url, item_id=import_package_id) }}"><code>{{ import_id }}</code></a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if scope.scopes %}
<h3>Scopes</h3>
<ul>
    {% for scope_id, _scope_package_id in scope.scopes %}
    <li>
        <a href="./{{ scope_id }}/index.html"><code>{{ scope_id }}</code></a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if scope.components %}
<h3 id="components">Components</h3>
<ul>
    {% for component_id, _component_package_id in scope.components %}
    <li>
        <a href="./components/{{ component_id }}.html"><code>{{ component_id }}</code></a>
    </li>
    {% endfor %}
</ul>
{% endif %}
