
<h3>Scope
    <a href="{{ item_url(from=page_url, item_id=scope_id)}}">
        <code>{{ item_path(data = scope.data) }}</code>
    </a>
</h3>

{% if scope.components %}
<h4><a href="#components">Components</a></h4>
{% endif %}