{% extends "views/base" %}

{% block title %}
    {{ item.data.id }} in {{ item_path(item_id=item.data.parent_id) }}
{% endblock title %}

{% block sidebar %}
    {% include "partials/item_sidebar_package_heading" %}
    <h3>Component</h3>
    <ul>
        <li><a href="#metadata">Metadata</a></li>
        <li><a href="#description">Description</a></li>
    </ul>
    {% include "partials/item_sidebar" %}
{% endblock sidebar %}

{% block content %}
    <h1>Component {{ macros::item_link(item_id=item_id) }}</h1>

    <h3 id="metadata">Metadata</h3>
    <table>
        <tr>
            <th>Type</th>
            <td>{{ macros::item_link(item_id=item.type_) }}</td>
        </tr>
        {% if item.attributes %}
            <tr>
                <th>Attributes</th>
                <td>{{ macros::list_of_item_links(items=item.attributes) }}</td>
            </tr>
        {% endif%}
        {% if item.default %}
            <tr>
                <th>Default</th>
                <td><code>{{ value_string(value=item.default) }}</code></td>
            </tr>
        {% endif %}
    </table>

    <h3 id="description">Description</h3>
    <p>
        {% if item.name %}
            <h4>{{ item.name }}</h4>
        {% else %}
            <h4><code>{{ item.data.id }}</code></h4>
        {% endif %}

        {% if item.description %}
            {{ item.description | markdown }}
        {% else %}
            No description available.
        {% endif %}
    </p>
{% endblock content %}