{% extends "views/base" %}

{% block title %}
    {{item_path(item_id=item_id)}}
{% endblock title %}

{% block sidebar %}
    {% set scope = item %}

    {% include "partials/item_sidebar_package_heading" %}
    <h3>Scope {{ macros::item_link(item_id=item_id) }}</h3>

    <ul>
        {% include "partials/scope_sidebar" %}
    </ul>

    {% include "partials/item_sidebar" %}
{% endblock sidebar %}

{% block content %}
    <h1>Scope {{ macros::item_link(item_id=item_id) }}</h1>

    {% set scope = item %}
    {% include "partials/scope" %}
{% endblock content %}