<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ style_css_path }}" />
    <title>{% block title %}{% endblock title %} - Ambient</title>
    {% if autoreload %}
    <script>
        setInterval(function () {
            location.reload();
        }, 5000);
    </script>
    {% endif %}
    {% endblock head %}
</head>

<body>
    <nav>
        {% block sidebar %}{% endblock sidebar %}
    </nav>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>

</html>