{% extends "views/base" %}

{% block title %}{{ item.data.id }} in <code>{{ item_path(item_id = item.data.parent_id) }}</code>{% endblock title %}

{% block sidebar %}
{% include "partials/item_sidebar" %}
{% endblock sidebar %}

{% block content %}
<h1>Component <code>{{ item_path(data = item.data) }}</code></h1>

<h3>Metadata</h3>
<table>
    <tr>
        <th>Type</th>
        <td>{{ item.type_ }}</td>
    </tr>
    <tr>
        <th>Attributes</th>
        <td>{{ item.attributes | join(sep = ", ") }}</td>
    </tr>
    {% if default %}
    <tr>
        <th>Default</th>
        <td>{{ default }}</td>
    </tr>
    {% endif %}
</table>

<h3>Description</h3>
<p>
    {% if item.name %}
    <h4>{{ item.name }}</h4>
    {% else %}
    <h4><code>{{ item.data.id }}</code></h4>
    {% endif %}

    {% if item.description %}
    {{ item.description | markdown }}
    {% else %}
    No description available.
    {% endif %}
</p>

{% endblock content %}