{% extends "views/base" %}

{% block title %}{{ item.name }}{% endblock title %}

{% block sidebar %}
<h2>{{ item.name }}</h2>
<small>{{ item.version }}</small>

<h3>Packages</h3>
<ul>
    {% for package in packages %}
    <li>
        <a href="{{package_url(from=page_url, package_id=package[1])}}">{{ package[0] }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock sidebar %}

{% block content %}
<h1>{{ item.name }} <small>{{ item.version }}</small></h1>

<h3>Metadata</h3>
<table>
    {% if item.repository %}
    <tr>
        <th>Repository</th>
        <td>{{ item.repository }}</td>
    </tr>
    {% endif %}
    {% if item.ambient_version %}
    <tr>
        <th>Ambient version</th>
        <td>{{ item.ambient_version }}</td>
    </tr>
    {% endif %}
</table>

<h3>Description</h3>
<p>
    {% if item.description %}
    {{ item.description | markdown }}
    {% else %}
    No description available.
    {% endif %}
</p>

<h3>Dependencies</h3>
<ul>
    {% for dep_id, dep in item.dependencies %}
    <li>
        <a href="{{ package_url(from=page_url, item_id=dep.id) }}">{{ dep_id }}</a>
    </li>
    {% endfor %}
</ul>

{% include "partials/scope" %}
{% endblock content %}