{% extends "views/base" %}

{% block title %}
    {{item_path(data = scope.data)}}
{% endblock title %}

{% block sidebar %}
    {% include "partials/item_sidebar_package_heading" %}
    <h3>
        Scope
        <a href="{{ item_url(from=page_url, item_id=scope_id)}}">
            <code>{{ item_path(data = scope.data) }}</code>
        </a>
    </h3>

    {% include "partials/scope_sidebar" %}
{% endblock sidebar %}

{% block content %}
    <h1>
        Scope
        <code>{{item_path(data = scope.data)}}</code>
    </h1>

    {% include "partials/scope" %}
{% endblock content %}