{% extends "views/base" %}

{% block title %}{{item_path(data = scope.data)}}{% endblock title %}

{% block sidebar %}
{% include "partials/item_sidebar" %}
{% endblock sidebar %}

{% block content %}
<h1>Scope {{item_path(data = scope.data)}}</h1>

{% include "partials/scope" %}
{% endblock content %}