body {
    display: flex;
    margin: 0;
}

body > nav {
    width: 30%;
    height: 100vh;
    padding: 16px;
    box-sizing: border-box;

    overflow: scroll;
}

body > main {
    width: 70%;
    padding: 16px;
    box-sizing: border-box;
}

a.highlight {
    background-color: yellow;
}